<!DOCTYPE html>
<html ng-app="store">
<head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <!-- JS -->
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">

    <ul class="list-group">
        <!-- orderBy (-) descending order ( ) ascending order-->
        <li class="list-group-item"
            ng-repeat="product in store.products | orderBy:'-price' | limitTo:2"
            ng-hide="product.soldOut">

            <h1> {{product.name}} </h1>
            <em class="price pull-right"> {{product.price | currency }} </em>
            <h1> {{product.date | date:'MM/dd/yyyy @ h:mma'}} </h1>
            <div id="preview" ng-repeat="image in product.images | limitTo:1">
                <img width="200" height="200" ng-src="{{image.full}}" />
            </div>

            <ul class="nav nav-pills">
                <li> <a href="" ng-click="tab = 1">Description</a> </li>
                <li> <a href="" ng-click="tab = 2">Specifications</a> </li>
                <li> <a href="" ng-click="tab = 3">Reviews</a> </li>
            </ul>

            {{tab}}

            <p> {{product.description | uppercase}} </p>
            <button class="pull-right" ng-show="product.canPurchase">Add to Cart</button>
        </li>
    </ul>

</body>
</html>